body {
  background: #0b0f1a;
  color: white;
  font-family: Arial;
  text-align: center;
}

header {
  padding: 40px;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  background: #00ffd5;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
}
